.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.creation-manager {
    height: 100vh;
    padding: 2px;
    position: sticky;
    top: 0;
}

.character-sheet {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 2px;
}

.attributes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.abilities {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.title-box-3col {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}
